@media (max-width: 1200px) {
  .second__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .sponsors_list_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 970px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .your-choise__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 970px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choises-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 970px;
  }
  .fourth__container {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .fourth__container_content_blocks {
    max-width: 970px;
  }
  .fourth__container_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 970px;
    height: 322px;
  }
  .footer__container_main {
    max-width: 970px;
  }
  .footer__container_header {
    max-width: 970px;
  }
  .footer_all_nav_menu_container {
    max-width: 970px;
  }
  .footer__container_third_link {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .sponsors_list_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 750px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .your-choise__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 750px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choises-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 750px;
  }
  .fourth__container {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .fourth__container_content_blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 750px;
  }
  .fourth__container_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 750px;
    height: 322px;
  }
  .fourth__container_content_text {
    max-width: 750px;
  }
  .fourth__container_content_title {
    font-size: 30px;
  }
  .fourth__container_content_subtitle {
    font-size: 10px;
  }
  .footer__container_main {
    max-width: 750px;
  }
  .footer__container_header {
    max-width: 750px;
  }
  .footer_all_nav_menu_container {
    max-width: 750px;
  }
  .footer__container_third_link {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .your-choise__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourth__container_content_blocks {
    max-width: 750px;
  }
  .fourth__container_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: none;
    height: 322px;
  }
  .footer__container_main {
    max-width: none;
  }
  .footer__container_header {
    max-width: none;
  }
  .footer_all_nav_menu_container {
    max-width: none;
  }
  .footer__container_third_link {
    max-width: none;
  }
}

/*@media (max-width:1200px) {
	.container{
		max-width: 970px;
	}
}
@media (max-width:992px) {
	.container{
		max-width: 750px;
	}
}
@media (max-width:767px) {
	.container{
		max-width: none;
	}
}*/
