@font-face {
	font-family: "Gilroy-Semibold";
	src: url("../fonts/Gilroy-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Gilroy-Bold";
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}