@import "nullstyle.scss";
@import "fontsstyle.scss";
@import "media.scss";

$colortitle: #99EFD0;
$colorbutton: #F2994A;
$colortitle2: #8476AA;
$colortitle3: #6D6D78;   
$fz: 100px;

.wrapper {
	min-height: 100%;
	min-width: none;
	overflow: hidden;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}

._container {
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0px auto;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}


.main_buttons {
	border-radius: 3px;
	display: flex;
	max-width: 300px;
	max-height: 300px;
	justify-content: center;
	align-items: center;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	line-height: 18px;
	letter-spacing: 2px;
	transition: all 0.3s ease 0s;
}
.select_text {
	color: $colorbutton;
}
.post_area {
	width: 288px;
	height: 56px;;
	background-color: #F6F6F6;
	color: #000000;
	font-size: 18px; 
	opacity: 0.1;
	border-radius: 5px;
	outline:none;
}
//HEADER
/*.wrapper-man {
	position: absolute;
	width: 723.71px;
	height: 579.57px;
	top: 219.15px;
	top: 3;
	right: 8.3%;
}
.wrapper-second-rain {
	position: absolute;
	height: 572px;
	top: 701px;
	left: 9.7%;
}*/
// CONTENT CONTAINERS
.first__container {
	display: flex;
	height: 689px;
	flex-wrap: wrap;
	z-index: 2;
	background: url(../img/wrapper/man.svg);
	background-repeat: no-repeat;
	background-position: bottom -90px right -170px;
	 .header__container {
		display: flex;
		justify-content: space-between;
		width: 1100px;
		height: 36px;
		padding: 79px 0px 135px 0px;
	
		.nav__container {
			display: flex;
			align-items: center;
		}
		
		.nav__logo {
		}
		
		.nav__menu {
			margin: 0px 0px 0px 44px;
		}
		
		.menu {
		}
		
		.menu__list {
			flex-wrap: wrap;
			display: flex;
		}
		
		.menu__item {
		}
		
		.menu__item {
			margin: 0px 22px 0px 0px;
		}
		
		.menu__link {
			color: #B5B5B5;
			font-family: Gilroy-Semibold;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 2px;
			line-height: calc(20 / 12 * 100%);
		}
		
		.menu__link:hover {
			color: #fff;
		}
	}
	.buttons__container {
			display: flex;
			flex-direction: row;
			margin: -18px 0px 0px 0px;
			
		.header__buttons__button_border {
				width: 112px;
				height: 36px;
				font-family: Rubik;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				color: $colorbutton;
				border: 1px solid $colorbutton;
				border-radius: 4px;
			&:not(:last-child) {
				margin: 0px 20px 0px 0px;
			}	
			&:hover {
				border: 1px solid $colorbutton;
				background-color: #fff;
				color: $colorbutton;
				box-shadow: -11.09px 18.13px 36.6483px rgba(255, 255, 255, 0.13);
			}
	    }	
		.header__buttons__button_orange {
		  width: 112px;
		  height: 36px;
		  font-family: Rubik;
		  font-family: Rubik;
		  font-style: normal;
		  font-weight: 500;
		  font-size: 12px;
		  line-height: 20px;
          color: #fff;
		  background:  $colorbutton;
		  border-radius: 3px;
		  &:hover {
			box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
		  }
		}
    }
	.first__container_content {
		width: 540px;
		height: 439px;
		.first__container_text {
			display: flex;
		}
		.first__container_content_title {
			max-width: 531px;
			position: absolute;
			font-family: Inter;
			font-style: normal;
			font-weight: bold;
			font-size: 44px;
			line-height: 50px;
			color: $colortitle;
		}
		.first__container_content_subtitle {
			font-family: Gilroy-SemiBold;
			font-size: 18px;
			line-height: 22px;
			color: $colortitle2;
			padding: 169px 0px 0px 0px;
		}
		.first__container_content_buttons {
			display: flex;
			width: fit-content;
			padding: 40px 0px 0px 0px;
		}
		.first__content__buttons__button_border {
				width: 157px;
				height: 46px;
				font-family: Rubik;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				letter-spacing: 2px;
				color: $colorbutton;
				border: 1px solid $colorbutton;
				border-radius: 4px;
			&:hover {
				border: 1px solid $colorbutton;
				background-color: #fff;
				color: $colorbutton;
				box-shadow: -11.09px 18.13px 36.6483px rgba(255, 255, 255, 0.13);
			}
		}
		.first__content__buttons__button_orange {
			width: 157px;
			height: 46px;
			font-family: Rubik;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			color: #fff;
			background:  $colorbutton;
			border-radius: 3px;
			&:not(:last-child) {
				margin: 0px 20px 0px 0px;
			}	
			&:hover {
			  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
			}
		}
		.first__container_content_video {
			display: flex;
			margin: 60px 0px 0px 0px;
		}
		.first__container_content_video_img {

		}
		.first__container_content_video_text {
			display: flex;
			flex-direction:column;
			.first__container_content_video_title {
				font-family: Rubik;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 22px;
				margin: 4px 0px 0px 20px;
				color: $colortitle2;
			}
			.first__container_content_video_subtitle {
				font-family: Rubik;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 22px;
				color: $colortitle3;
				margin: 6px 0px 0px 20px;
			}
		}
		
	}
}
.second__container {
	display: flex;
	flex-direction: column;
	min-height: 626px;
	z-index: 2;
	background: url(../img/wrapper/secondblockrain.svg);
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: top -20px;
	.sponsors_list_container {
		display: flex;
		flex-direction:row;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		padding: 0px;
		height: 30.03px;
		margin-top: 103px;
	}
	.sponsors_list_item {
		position: static;
		opacity: 0.3;
		height: 25px;
		margin: 0px 0px 0px 0px;
		top: 2.52px;
		flex-grow: 0;
	}
	.your-choise__container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
		width: 1100px;
		min-height: 382px;
		align-items: center;
		margin-top: 98.97px;
	}
	.your-choise__text {
		display: flex;
		width: 630px;
		height: 85px;
		justify-content: center;
	}
	.your-choise_title {
		position: absolute;
		width: 243px;
		height: 50px;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		color: $colortitle;
	}
	.your-choise_subtitle {
		position: absolute;
		width: 630px;
		height: 22px;
		margin: 63px 0px 0px 0px;
		font-family: Gilroy-SemiBold;
		font-size: 16px;
		color: $colortitle2;
	}
	.choises-row {
		display:flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap:wrap;
		width: 997px;
		min-height: 247px;
		margin-top: 50px;
	}
	.choise_logo {
		position: absolute;
	}
	.choise_title {
		font-family: Gilroy-Bold;
		font-size: 18px;
		line-height: 22px;
		color: $colortitle;
		width: 218px;
		height: 22px;
		margin-left: 52px;
	}
	.choise_subtitle {
		font-family: Gilroy-SemiBold;
		font-size: 14px;
		line-height: 22px;
		color: $colortitle2;
		margin: 10px 0px 0px 52px;
	}
	.choise_block {
		display: flex;
		flex-direction: column;
		flex: 0 1 299px;
		height: 106px;
	}
}
.third__container {
	display: flex;
	height: 700px;
	flex-wrap: nowrap;
	justify-content: space-around;
	z-index: 2;
	@media(max-width: 970px){
		.third__container_content {
			width: 100% !important;
		}
	}
	.third__container_content {
		width: 470px;
		height: 279px;
		margin: 205px 0px 0px 0px;
	}
	@media(max-width: 970px){
		.third__container_content_text {
			display: flex;
			width: 100% !important;
			height: 188px;
			justify-content: center;
		}
	}
	.third__container_content_text {
		display: flex;
		height: 188px;
	}
	@media(max-width: 970px){
		.third__container_content_title {
			text-align: center;
		}
	}
	.third__container_content_title {
		position: absolute;
		width: 470px;
		height: 100px;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		line-height: 50px;
		color: $colortitle;
	}
	@media(max-width: 970px){
		.third__container_content_subtitle {
			text-align: center;
		}
	}
	.third__container_content_subtitle {
		position: absolute;
		width: 470px;
		height: 56px;
		margin: 132px 0px 0px 0px;
		font-family: Gilroy-SemiBold;
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.5px;
		color: $colortitle2;
	}
	@media(max-width: 970px){
		.third__container_content_buttons {
			justify-content: center;
		}
	}
	.third__container_content_buttons {
		display: flex;
		padding: 43px 0px 0px 0px;
	}
	.third__content__buttons__button_orange {
		width: 155px;
		height: 48px;
		font-family: Rubik;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		color: #fff;
		background:  $colorbutton;
		border-radius: 3px;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
		}
	}
	@media(max-width: 970px){
		.third__container_image{
			display: none;
		}
	}
	.third__container_image{
		margin: 149.72px 0px 0px 0px;
	}
}
.fourth__container {
	display: flex;
	min-height: 414px;
	flex-wrap:wrap;
	flex-direction: column;
	z-index: 1;
	.fourth__container_content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 1100px;
		height: auto;
	}
	@media(max-width: 901.13px){
		.fourth__container_content_text {
			display: flex;
			width: 100% !important;
			height: auto;
		}
	}
	.fourth__container_content_text {
		display: flex;
		width: 100%;
		height: 156px;
		align-items: center;
		flex-direction: column;
	}
	@media(max-width: 901.13px){
		.fourth__container_content_title {
			width: 100% !important;
		}
	}
	.fourth__container_content_title {
		width: 100%;
		max-width: 871.13px;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		text-align: center;	
		letter-spacing: 0.33px;
		color: $colortitle;
	}
	.fourth__container_content_subtitle {
		width: 417.42px;
		margin: 32px 0px 0px 0px;
		font-family: Gilroy-SemiBold;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $colortitle2;
	}
	@media(max-width: 993px){
		.fourth__container_content_blocks {
			flex-direction: column !important;
			flex-wrap: nowrap !important;
			min-height: 500px;
		}
	}
	.fourth__container_content_blocks {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 1100px;
		height: 118px;
		margin: 48px 0px 0px 0px;
	}
	@media(max-width: 993px){
		.fourth__container_content_block {
			margin-top: 40px;
			min-height: 118px;
		}
	}
	.fourth__container_content_block {
		flex: 0 1 293.4px;
		height: 118px;
	}
	.fourth__container_content_block_title {
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.33px;
		color: $colortitle;
	}
	.fourth__container_content_block_subtitle {
		font-family: Gilroy-Semibold;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.2px;
		color: $colortitle2;
		margin: 16px 0px 0px 0px;	
	}
}
.five__container {
	display: flex;
	height: 676px;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 2;
	.five__container_content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		width: 770px;
		height: 200px;
		margin: 123px 0px 0px 0px;
		z-index: 2;
	}
	.five__container_content_title {
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		line-height: 50px;
		text-align: center;
		color: $colortitle;
	}
	.five__container_content_buttons {
		width: 164px;
		margin: 46px 0px 0px 0px;
	}
	.five__content__buttons__button_orange {
		width: 164px;
		height: 54px;
		font-family: Rubik;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #fff;
		background:  $colorbutton;
		border-radius: 3px;
		&:hover {
			box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
		}
	}
	.five__container_image {
		margin: -139px 0px 0px 0px;
	}
}
@media(max-width: 1045px){
	.six__container {
		display: flex;
		position: relative;
		height: auto !important;
		z-index: 2;
	}	
}
.six__container {
	display: flex;
	position: relative;
	height: 606px;
	z-index: 2;
	@media(max-width: 1045px){
		.six__container_content {
			margin: 96px 0px 0px 0px !important;
			width: 100% !important;
			z-index: 1;
		}
	}
	.six__container_content {
		width: 470px;
		height: 316px;
		margin: 96px 0px 0px 79px;
		z-index: 1;
	}
	@media(max-width: 1045px){
		.six__container_content_text {
			justify-content: center;
			text-align: center;
		}
	}
	.six__container_content_text {
		display: flex;
		flex-direction: column;
		height: 216px;
	}
	.six__container_content_title {
		height: 100px;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		line-height: 50px;
		color: $colortitle;
	}
	.six__container_content_subtitle {
		height: 84px;
		margin-top: 32px;
		font-family: Gilroy-SemiBold;
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.5px;
		color: $colortitle2;
	}
	@media(max-width: 1045px){
		.six__container_content_buttons {
			display: flex;
			justify-content: center;
			padding: 46px 0px 0px 0px;
		}
	}
	.six__container_content_buttons {
		display: flex;
		padding: 46px 0px 0px 0px;
	}
	.six__content__buttons__button_orange {
		width: 155px;
		height: 54px;
		font-family: Rubik;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		color: #fff;
		background:  $colorbutton;
		border-radius: 3px;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
		}
	}
	@media(max-width: 1045px){
		.six__container_image{
			display: none;
		}
	}
	.six__container_image{
		position: absolute;
		width: 818px;
        height: 477px;
		top:48px;
		left: 635px;
	}
}
.seven__container {
	display: flex;
	min-height: 525px;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	@media(max-width: 1045px){
		.seven__container_left_container{
			width: 100% !important;
			text-align: center;
		}
	}
	.seven__container_left_container{
		width: 498.15px;
		order:1;
	}
	@media(max-width: 1045px){
		.seven__container_right_container{
			width: 100% !important;
			margin-bottom: 80px;
		}
	}
	.seven__container_right_container{
		width: 516.22px;
		order:2;
	}
	.seven__container_image {
		width: 498.15px;
		height: 446px;
		margin: 23px 0px 0px 0px;
		order: 1;
	}
	.seven__container_content {
		height: 290px;
		margin: 111px 0px 0px 0px;
		order: 2;
		@media(max-width: 1045px){
			.seven__container_content_text{
				width: 100% !important;
				text-align: center;
			}
		}
		.seven__container_content_text {
			width: 417.42px;
			height: 104px;
		}
		.seven__container_content_title {
			font-family: Inter;
			font-style: normal;
			font-weight: bold;
			font-size: 26px;
			line-height: 32px;
			letter-spacing: 0.325px;
			color: $colortitle;
		}
		.seven__container_content_subtitle {
			font-family: Gilroy-SemiBold;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.2px;
			color: $colortitle2;
			margin: 32px 0px 0px 0px;
		}
	}
	.seven__container_features {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 138px;
		margin: 48px 0px 0px 0px;
		.feature_logo {
			position: absolute;
		}
		.feature_title {
			font-family: Inter;
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.2px;
			color: $colortitle;
			margin: 52px 0px 0px 0px;
		}
		.feature_subtitle {
			font-family: Gilroy-SemiBold;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.2px;
			color: $colortitle2;
			margin: 8px 0px 0px 0px;
		}
		.seven__container_feature_block_one {
			width: 225.85px;
			height: 138px;
		}
		.seven__container_feature_block_two {
			width: 225.85px;
			height: 138px;
		}
	}	
}
.eight__container {
	display: flex;
	height: 551px;
	justify-content: center;
	z-index: 1;
	@media(max-width: 1045px){
		.eight__container_content {
			margin: 120px 0px 0px 0px !important;
		}	
	}
	.eight__container_content {
		display: flex;
		width: 940px;
		height: 324px;
		background: rgba(60, 62, 125, 0.19);
		backdrop-filter: blur(134px);
		border-radius: 5px;
		flex-direction: column;
		align-items: center;
		margin: 50px 0px 0px 0px;
		.eight__container_content_text {
			width: 629px;
			height: 107px;
			margin: 50px 0px 0px 0px;
		}
		.eight__container_content_title {
			font-family: Rubik;
			font-style: normal;
			font-weight: 500;
			font-size: 36px;
			line-height: 43px;
			text-align: center;
			color: #F2994A;
		}
		.eight__container_content_subtitle {
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			color: #95A1BB;
			margin: 20px 0px 0px 0px;
		}
	}
	.eight__container_content_post_area {
		display: flex;
		width: 416px;
		height: 56px;
		margin: 23px 0px 0px 0px;
		.content_post_area {
		}
		.eight__content__buttons__button_orange {
			width: 128px;
			height: 56px;
			font-family: Rubik;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			color: #fff;
			background:  $colorbutton;
			border-radius: 3px;
			transition: all 0.3s ease 0s;
			&:hover {
				box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
			}
		}
	}
	.eight_content_warning_text {
		font-family: Gilroy-Semibold;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #8476AA;
		margin: 16px 0px 0px 0px;
	}
}
.footer__container {
	display: flex;
	height: 544px;
	z-index: 1;
	justify-content: center;
	align-items: center;
	@media(max-width: 790px){
		.footer__container_main {
			width: 100% !important;
		}
	}
	.footer__container_main {
		width: 992px;
		height: 437px;
		margin: 0px auto;
		@media(max-width: 790px){
			.footer__container_header {
				width: 100% !important;
			}	
		}
		.footer__container_header {
			display: flex;
			width: 992px;
			margin: 0px auto;
			height: 40px;
			justify-content: space-between;
			.footer_text_helper {
				font-family: Inter;
				font-style: normal;
				font-weight: bold;
				font-size: 26px;
				line-height: 32px;
				letter-spacing: 0.325px;
				color: #F2994A;
			}
			.footer_all_social {
				
				.footer_all_social_items {
					margin: 0px 16px 0px 0px;
				}
			}	 
		}	
		@media(max-width: 790px){
			.footer_all_nav_menu_container {
				width: 100% !important;
			}
		}
		.footer_all_nav_menu_container {
			width: 992px;
			margin: 0px auto;
			height: 171px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 86px 0px 0px 0px;
			.footer_nav_menu {
			}
			.menu {
			}
			.footer_nav_menu_list {
				margin: 0px 0px 16px 0px;
			}
			.footer_nav_menu_item_header {
				margin: 0px 0px 25px 0px;
			}
			.footer_nav_menu_item:not(:first-child) {
				margin: 0px 0px 16px 0px;
			}
			.footer_nav_menu_header_link {
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
				letter-spacing: 0.2px;
				color: #FFFFFF;
	
			}
			.footer_nav_menu_link {
				font-family: Inter;
				font-style: normal;
				font-weight: 200;
				font-size: 15px;
				line-height: 20px;
				letter-spacing: 0.2px;
				color: #FFFFFF;
				&:hover {
					color:#B5B5B5;
				  }
			}
		}
		@media(max-width: 790px){
			.footer__container_third_link {
				width: 100% !important;
			}
		}
		.footer__container_third_link {
			display: flex;
			width: 992px;
			margin: 0px auto;
			height: 20px;
			justify-content: center;
			margin: 120px 0px 0px 0px;
			.footer__container_link {
				font-family: Inter;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.2px;
				color: #8D8D8D;
				margin: 0px 33px 0px 0px;
			}
		}
	}
}

